.tableContainer{
    position: relative;
    z-index: 2;
}
.tablehead{
    background-color: var(--input-border);
}
.infoRow{
    background-color: var(--color-bg);
    color: var(--color-text);
    border-left: solid white 0.5px;
    border-right: solid white 0.5px;
}
.cell{
    color: var(--color-text) !important;
    font-family: 'involve-regular' !important;

    display: flex;
    align-items: center;
    padding: 12px 12px 12px 12px !important;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    transition: opacity 0.2s ease;
}

.expandableRow{
  font: 'inherit' !important;
  background-color: var(--color-surface);
  color: var(--color-text) !important; 
}

.instructionContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1350px;
    height: 400px;
}

/* ================= Доп Info ================= */

.ClientInfoWrapper {
  font-family: "Involve regular";

  display: grid;
  grid-template-columns: 
    80px  /* Клиент N */
    140px  /* Плательщик */
    minmax(150px, 0.6fr)  /* Имя (с минимальной шириной 150px) */
    180px  /* Отношение */
    minmax(160px, 0.6fr)  /* Телефон */
    minmax(140px, 0.7fr)  /* Контакт */
    40px;  /* Кнопка удаления */

  align-items: center;
  gap: 12px;
  padding: 8px 0;

  margin-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;

  background: var(--color-muted);
  border: 1px solid #e5e7eb;
  border-radius: 8px;

  transition: background 0.2s ease;
}

.ClientInfoWrapper span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ClientInfoWrapper:hover {
  background: var(--input-border);
}

.clientSpan {
  font-size: 14px;
  color: var(--color-text);
  line-height: 1.4;
}

.clientSpan:first-child {
  font-weight: 600;
  color: (--color-text);
}

.addRelationBtn{
  font-family: "Involve regular";

  align-self: center;
  left: 565px;
  color: var(--color-accent);

  &:hover{
    color: var(--color-accent-hover);
  }
}



/* ================= элементы управления =================== */

.NameInput{
    display: inline-block;
    font-family: "Involve regular";
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
    text-align: left;
    max-width: 300px;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.LongText{
    display: inline-block;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
    text-align: left;
    width: 1200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.PhoneInput{
    display: inline-block;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
    text-align: left;
    max-width: 300px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Хуитас Суньхуйлюнь */

.MselectRoot {
  width: 225px;
}

.StatselectRoot{
  width: 180px;
}

/* ======================== INSTRUCTION */

.instruction{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
}

.UpArrow{
  position: absolute;
  margin-right: 900px;
  margin-bottom: 250px;
  width: 500px;
}

.DownArrow{
  position: absolute;
  margin-right: 910px;
  margin-top: 300px;
  width: 500px;

}