.panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100px;
  background-color: var(--color-surface);
  transition: width 0.3s ease;
  overflow: hidden;
  color: var(--color-text);
  z-index: 1000;

  display: flex;
  flex-direction: column;

  &:hover {
    width: 260px;
    .logo img{
      opacity: 1;
    }

    .icon{
      padding-left: 50px;
    }

  }
}

.logo img {
  padding-top: 50px;
  width: 150px;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Навигация */
.nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.link {
  font-family: 'involve-regular';

  display: flex;
  align-items: center;
  padding: 12px 20px;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.7;
  }

  .icon {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 29px;
    transition: padding-left 0.2s ease;
  }

  .label {
    margin-left: 12px;
    padding-left: 15px;
    opacity: 0;
    /* visibility: hidden; */
    transition: opacity 0.5s ease;
  }
}

/* Отображаем текст при ховере панели */
.panel:hover .link .label {
  opacity: 1;
  visibility: visible;
}

/* Подвал */
.footer {
  padding: 20px;
  text-align: center;
}

.logoutBtn {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

.panel:hover .logoutBtn {
  opacity: 1;
  visibility: visible;
}