.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  border-bottom: 2px solid var(--input-border);
  padding: 0 8px;
  min-height: 48px;
  position: relative;
  gap: 10px;
}


.expandToggle {
  padding: 30px 0 0 0;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  color: var(--color-subtext);
}

/* Анимация раскрытия */
.expandedWrapper {
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.expandedContent {
  padding: 12px 16px;
  background-color: var(--color-surface);
  border-bottom: 2px solid var(--color-subtext);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  font-size: 14px;
  line-height: 1.4;
}
