* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@font-face {
    font-family: 'raydis-header';
    src: url('/public/fonts/RAYDIS.woff2') format('woff2'),
        url('/public/fonts/RAYDIS.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'involve-regular';
    src: url('/public/fonts/Involve-VF.woff2') format('woff2'),
        url('/public/fonts/Involve-VF.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'involve_regular', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'raydis_header', sans-serif;
    font-weight: 700;
}

:root {
    --color-bg: #3B3C3F;
    /* основной тёмный фон */
    --color-surface: #27272A;
    /* блоки, карточки */
    --color-text: #F7F7F8;
    /* основной текст */
    --color-subtext: #DADADD;
    /* вторичный текст */
    --color-border: #4E4E56;
    /* границы */
    --color-muted: #434349;
    /* фон инпутов, иконки */

    --color-accent: #F77D40;
    /* кнопки, ссылки, действия */
    --color-accent-hover: #FAAB77;
    --color-accent-active: #D03311;

    --color-error: #E64110;
    --color-success: #F55B1A;

    --input-bg: #3B3C3F;
    --input-border: #606169;
}

[data-theme='light'] {
    --color-bg: #FFF5ED;
    /* очень светлый фон */
    --color-surface: #FEE8D6;
    /* блоки/карточки */
    --color-text: #27272A;
    /* основной текст */
    --color-subtext: #434349;
    /* вторичный текст */
    --color-border: #DADADD;
    /* границы */
    --color-muted: #EEEFF0;
    /* фон ввода или muted */

    --color-accent: #F77D40;
    /* кнопки, ссылки, действия */
    --color-accent-hover: #FAAB77;
    --color-accent-active: #D03311;

    --color-error: #E64110;
    /* ошибки */
    --color-success: #F55B1A;

    --input-bg: #fff;
    --input-border: #BABBBF;
}