.pageContainer {
    position: absolute;
    box-sizing: border-box;
    height: auto;

    width: 100%;
    min-height: 100vh;
    background-color: var(--color-bg);
    padding: 0 55px 55px 155px;
}