.authContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
        font-family: 'involve-regular';


    .links{
        font-family: 'involve-regular';
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: var(--color-accent);
        padding-bottom: 10px;
        width: 500px;
    }

    p{
        font-family: 'involve-regular';
        font-size: 30px;
    }

}

.regInfo{

    font-family: 'involve-regular';
    margin-top: 10px;
    color: var(--input-border);
}